@font-face {
	font-family: firac;
	font-style: normal;
	font-weight: 400;
	src: url(fira-code.ttf);
}

* {
	font-family: firac;
	font-size: 16px;
	color: #ffffff;
}

body {
	background-color: #1e2728;
}

a:hover {
	transition: 0.25s;
	color: #c369ff;
}

.center {
	margin: 0 auto;
}

.mt64 {
	margin-top: 64px;
}

.w720 {
	max-width: 720px;
}

.purple {
	color: #c369ff;
}

.blue {
	color: #40a3ff;
}

.teal {
	color: #50ebe2;
}
