@font-face {
	font-family:'Go Mono';
	src:url('assets/Go-Mono.ttf');
}

body {
	color:#fff;
	background-image: url('assets/background.jpg');
	background-size: cover;
  background-attachment: fixed;
	font:1.2em 'Go Mono', monospace;
	margin: 0;
}

main {
	margin: 0 auto;
	max-width: 45em;
	padding: 1em;
	/*background-color: rgba(0,0,0,0.8);*/
}

a {
	color:#FB607F;
	background-color: #111111;
	font-weight: bold;
}

#banner {
	width: 50%;
	padding: 0 25%;
}

nav {
	text-align: center;
	margin: 1em auto;
}

h1, h2, h3 {
	line-height:1.2;
	font-weight:bold;
	/* background-color: #111111; */
}

p {
		/* background-color: #111111; */
}
